* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    background-color: #d7dbd3;
}
h2{
    font-size: 32px;
}
.container {
    display: flex;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
}

#box {
    flex-direction: column;
    display: flex;
    width: 40%;
    padding-top: 20px;
    background-color: rgb(251, 254, 254);
    height: 300px;
    row-gap: 15px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(50, 55, 60, 0.3), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

#input {
font-size: 22px;
    width: 80%;
    height: 40px;
}

#sub {
    font-size: 22px;
    padding: 6px;
    border: none;
    color: aliceblue;
    background-color: rgb(60, 161, 71);
    font-weight: bold;
    width: 35%;
}

#message{
    font-size: 30px;
    font-weight: bold;
  
    /* background-color: rgb(101, 228, 101); */
}